<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>修改学生信息</h1>
    <!-- <form action="/update-student?id=<%=stu.id%>" method="post"> -->
    <form action="/students/update-student" method="post">
        <!-- hidden是一个隐藏的表单项，通过他可以传递一些不希望被用户看到的数据 -->
        <input type="hidden" name="id" value="<%=stu.id%>">
        <div>
            姓名:<input type="text" name="name" value="<%=stu.name%>">
        </div>
        <div>
            年龄:<input type="number" name="age" max="150" min="0" value="<%=stu.age%>">
        </div>
        <div>
            性别:
            <input type="radio" value="男" name="gender" <%=stu.gender==='男' && "checked" %> >男
            <input type="radio" value="女" name="gender" <%=stu.gender==='女' && "checked" %> >女 
        </div>
        <div>
            地址:<input type="text" name="address" value="<%=stu.address%>">
        </div>
        <button>修改</button>
    </form>
</body>
</html>